@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-[#050505] text-[#ccc];
  }
  
  /* Harder, industrial scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #050505;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ff3300;
  }
}

@layer components {
  /* Industrial Hardware Chassis */
  .hardware-panel {
    @apply bg-[#0f0f0f] border-t border-l border-[#2a2a2a] border-b border-r border-[#000] shadow-[0_20px_50px_rgba(0,0,0,0.8)];
  }
  
  /* Individual Modules inside the Chassis */
  .hardware-module {
    @apply bg-[#121212] border border-[#1f1f1f] p-5 shadow-[inset_0_0_20px_rgba(0,0,0,0.5)];
  }

  /* Technical module headers */
  .module-title {
    @apply text-[10px] font-mono font-bold uppercase tracking-[0.2em] text-[#666] mb-5 pb-2 border-b border-[#222] flex items-center w-full;
  }
}